* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html, body {
  font-family: sans-serif;
}

canvas {
  border: 0.5px solid black;
  margin-top: 3px;
  margin-left: 3px;
}
